<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc.war</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="aopalliance-1.0" />
          <element id="library" level="project" name="spring-aop-3.1.2.RELEASE" />
          <element id="library" level="project" name="asm-commons-3.2" />
          <element id="library" level="project" name="spring-context-support-3.1.2.RELEASE" />
          <element id="library" level="project" name="spring-beans-3.1.2.RELEASE" />
          <element id="library" level="project" name="asm-util-3.2" />
          <element id="library" level="project" name="spring-asm-3.1.2.RELEASE" />
          <element id="library" level="project" name="spring-web-3.1.2.RELEASE" />
          <element id="library" level="project" name="spring-context-3.1.2.RELEASE" />
          <element id="library" level="project" name="commons-logging-1.1.1" />
          <element id="library" level="project" name="antlr-2.7.7" />
          <element id="library" level="project" name="groovy-1.8.4" />
          <element id="library" level="project" name="spring-webmvc-3.1.2.RELEASE" />
          <element id="library" level="project" name="spring-core-3.1.2.RELEASE" />
          <element id="library" level="project" name="asm-analysis-3.2" />
          <element id="library" level="project" name="spring-expression-3.1.2.RELEASE" />
          <element id="library" level="project" name="asm-3.2" />
          <element id="library" level="project" name="asm-tree-3.2" />
          <element id="artifact" artifact-name="ejbsvc" />
          <element id="artifact" artifact-name="empjpa" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springmvc/web/Web" />
    </root>
  </artifact>
</component>